.write-email {
    width: 720px;
    @media screen and (max-width: 720px) {
        width: 100vw;
    }

    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.3);
    &__title {
        font-size: 1.25rem;
        font-weight: 500;
    }
    &__footer {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.contact {
    padding: 1.25rem 0 0.625rem 0;
    &__label {
        display: block;
        font-size: 0.75rem;
        font-weight: 500;
        color: #8d8d8d;
    }
    &__sender {
        width: 100%;
        background-color: #00000000;
        font-size: 0.875rem;
        color: #000;
        margin: 0.625rem 0;
        padding: 0.312rem;
        border-bottom: 0.06rem solid rgba(173, 173, 173, 0.411);
        &:hover::placeholder,
        &:focus::placeholder {
            color: #313131;
        }
    }
    &__receiver {
        font-size: 0.875rem;
        color: #000;
        margin: 0.625rem 0;
        display: inline-flex;
        align-items: center;
        gap: 0.312rem;
        background-color: #d4d4d470;
        border-radius: 1.25rem;
        border: 0.06rem solid #8d8d8d;
        padding: 0.25rem;
        transition: background-color 0.3s ease;
        &:hover {
        background-color: #d4d4d43a;
        transition: background-color 0.3s ease;
        }
    }
}
.mail {
    padding: 1.25rem 0;
    transition: border 0.5s ease;
    border-top: 0.06rem solid #8d8d8d00;
    border-bottom: 0.06rem solid #8d8d8d00;
    &:hover,
    &:focus {
        border-top: 0.06rem solid #8d8d8d27;
        border-bottom: 0.06rem solid #8d8d8d27;
        transition: border 0.5s ease;
    }
    > :first-child {
        width: 100%;
        height: 15rem;
        word-break: break-all;
        overflow-y: scroll;
        scrollbar-width: none;
        @media screen and (max-width: 426px) {
            height: 11.25rem;
        }
    }
}
.buttons {
    display: flex;
    gap: 0.93rem;
    > * {
        font-size: 0.875rem;
        font-weight: 600;
        padding: 0.93rem;
        border-radius: 10px;
    }
    &__cancel {
        background-color: #e6e6e6;
        transition: background-color 0.5s ease;
        &:hover {
            background-color: #cfcfcf;
        }
    }
    &__send {
        background-color: #3c3cff;
        color: #fff;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.15);
        }
    }
    .send-result {
        color: #0ac047;
    }
    .send-error {
        color: #c00a0a;
    }
}